.good {
    background-color: green;
}
.bad {
    background-color: darkslategrey;
}
.close {
    background-color: rgb(114, 114, 50);
}
.letter {
    color: white;
    border-radius: 5px;
    padding: 5px;
}
.rmbtn {
    margin-left: 5px;
}
#reg {
    background-color: black;
    color: rgb(0, 255, 0);
    width: 100%;
}